<form {{action 'save' on='submit'}}>

  nombre
  {{input type='text' value=evento.nombre}}

  inicio
  {{input type='date' value=evento.inicio}}

  fin
  {{input type='date' value=evento.fin}}

  <hr>

  <!-- aquì van los campos para llenar las acitividades -->
  <p> Actividades </p>

  <ul>
    {{#each evento.actividades as |a|}}
      <!-- <li> {{a.nombre}} - De: {{a.inicio}} a {{a.fin}}</li> -->
      {{fields-actividades actividad=a}}
    {{/each}}
  </ul>

  <button class="btn btn-primary btn-round" {{action 'saveActivity'}}> Añadir Actividad </button>

  <hr>

  <button class="btn btn-primary btn-round"> Guardar </button>

</form>
